* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div.header {
    background-color: black;
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.menu {
    display: flex;
    flex-direction: row;
    line-height: 50px;
    list-style: none;
    position: relative;
}


.menu li {
    margin-right: 20px;
}


  
.body {
    background-color: black;
    border: 1px solid black;
    color: white;
    min-height: 500px;
}

.main {
    background-color: white;
    color: black;
    min-height: 500px;
}

.ads {
    background-color:#dcdcdc;
    min-height: 500px;
}

.main .main-welcome {
    padding: 10px;
}

.main .main-test {
    padding: 10px;
}

.link {
    background-color:#dcdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}
.link a {
    margin: 20px;
}

.ads {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.ads .ads-btn {
    border: 1px solid;
    min-width: 100px;
    margin: 20px;
    text-align: center;
}

.footer {
    background-color: black;
    border: 1px solid black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


[class*="col-"] {
    float: left;
    width: 100%;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}