<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <a href="/songs/create">Create</a>
  <h1>List Song</h1>
  <table id="musics" class="table table-light">
    <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song, iter : ${songs}">
      <td th:text="${iter.count}"></td>
      <td th:text="${song.name}"></td>
      <td th:text="${song.artist}"></td>
      <td th:text="${song.genre}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>