* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    border: 1px solid black;
    min-height: 50px;
    position: fixed;
    top:0;
    width: 100%;
    margin-bottom: 50%;
}

.header img {
    height: 50px;
    margin-left: 10px;
}

.head-link ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #dcdcdc;
    margin-top: 60px;
}
.head-link li {
    list-style: none;
    margin: 10px;
    font-weight: bold;
}

.head-link a:active {
    color: red;
}

.head-link li a {
    text-decoration: none;
    color: black;
}
.body {
    margin: 20px;
}

.body .cartoon .title {
    font-weight: bold;

}

.cartoon span ~ span {
    display: block;
    color:red;
}


.left-content  img {
    width: 100%;
}   

.right-cotent p {
    padding: 20px;
}

.right-cotent iframe {
    padding: 20px;
    width: 100%;
    height: 500px;
    
}

.footer {
    background-color: #dcdcdc;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}
